@import "utilities/variables";
@import "operator";
@import "index";
@import "views/productos";
@import "views/quienessomos";
@import "views/contacto";
@import "views/loging";
@import "utilities/mediasqueries";


*::after,
*::before,
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------- SASS 2---------------------------*/



/*--------------------------- Header ---------------------------*/

.header {
    background-color: $color1;
    padding: 1rem;

.nav__color a {
    color: white; 
}

.nav__color a:hover {
    color: rgb(165, 165, 165);
}
}
 #loging:hover {
    background-color: $color3;
    color: white;
    border-radius: 5px;
 }
.header__logo {
    width: 150px;
}
.navbar-toggler {
    color: $color1;
    background-color: #f1f1f1;
}

/*--------------------------- Header ---------------------------*/

/*--------------------------- Footer ---------------------------*/

.footer {
    background-color: $color1;
    @include flex (flex, space-around, none, center);
    padding: 1rem;

.footer__logo img{
    width: 150px;
    padding: 0.5rem;
}

.div__footer--rrss a{
    padding: 0.2rem;
    }    
}
.a__img--rrss{
    width: 30px;
}
.div__a--footer {
    @include flex-direction (flex, column);
    text-align: center;
    a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
}


/*--------------------------- Footer ---------------------------*/
